page-view-detail {
   .Background{
       background: transparent;
       position: fixed;
   }
   .card_content{
    border-radius: 1px;
    top: 100px;
    background: #fffff0;
    position: fixed;
    right:0;
    vertical-align: middle;

   }
   ion-icon{
        font-size: 6.4rem;
    }

    .cardp{
        color:#EE7600;
        font-size: 14px;
    }
}
